
.body{
    height:100vh;
    width:100%;
    font-family: sans-serif;
 
}
 .popup{
    display:none;
    position:absolute;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:80%;
    height:65%;
    overflow: auto;
    background-color: rgb(195, 214, 245);
    border-radius: 10px;
    padding: 20px;
 

}
.todoZone{
    display:flex;
    flex-direction: column;
    gap: 30px;
padding: 20px;
}


.popup .title{
   color:  rgb(46, 58, 163) ;
   display: flex;
   align-items: center;
  gap:300px;
   }
.popup .form{
   display:flex;
   flex-direction: column;
   gap:20px;
   font-size: 18px;
   padding: 15px;
}
.todoTitle{
    border-radius: 10px;
    width:500px;
    height:30px;
}
.todoDescription{
    border-radius: 10px;
    width:500px;
    height:70px;
}
.todoDate{ border-radius: 10px;
    width:250px;
    height:30px;

}
.form button{
    background-color: rgb(59, 59, 255);
    color:white;
    border:none;
    border-radius: 15px;
    width:160px;
    
    height:35px;
}
.title .delete{
    height:30px;
    width:30px;
    border-radius: 20px;
    color:white;
    border:none;
    background-color:  rgb(46, 58, 163);
    cursor:pointer;

}
.bigTitle{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}
.titre{
    color:rgb(73, 170, 190)
}
.addButton{
    display: flex;
    gap:10px;
    align-items: center;


}
.addButton button{
    width:50px;
    height:40px;
    color:white;
    font-size: 30px;
    background-color: rgb(46, 58, 163);
    border:none;
    border-radius: 8px;
    cursor:pointer;
}
.addButton p{
    color: rgb(46, 58, 163);
    font-size: 20px;
}
.todoItem{
    background-color: rgb(210, 208, 208);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    gap:50px;
}
.datebutton{
    width:180px;
    height:40px;
    color:white;
    font-size: 15px;
    background-color: rgb(46, 58, 163);
    border:none;
    border-radius: 8px;
   
}